* {
    box-sizing: border-box;
}

body {
    
}

#navbar {
    display: flex;
    position: fixed;
    padding-top: 10px;
    gap: 350px;
    background-color: azure;
}



















/* @media (max-width: 600px) {
    body {
        background-color: aquamarine;
    }
} */