* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    gap: 50px;
    padding: 10px 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#welcome-section {
    padding-top: 60px;
    text-align: center;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
#About {
    text-align: center;
    font-size: 18px;
    padding: 20px;
} 

#projects {
    display: flex;
    justify-content: space-around;
}
.project_image {
    flex: 100px;
    align-items: center;
    padding-left: 10px;
}
#contact {
    text-align: center;
    padding: 40px 20px;
}
.picture {
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(2, 1fr);
}

#contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#contact a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
}











@media (max-width: 600px) {
    #navbar {
       flex-wrap: wrap;
       gap: 20px;
       justify-content: center;
    }
}